---
---

@use 'sass:color';

$font-stack: Helvetica;
$background: #7e3e93;
$text-background: #F0F0F0;
$text: #0A0A0A;
$primary: #cd75ff;
$primary-bright: color.scale($primary, $lightness: 10%);
$primary-dark: color.scale($primary, $lightness: -10%);
// Pad amount is specifically used for horizontal padding.
// For vertical padding just use what feels right (1em)
$pad-amount: 8px;

* {
    font-family: $font-stack;
    color: $text;
}

body {
    margin: 0;
    background-color: $background;
    background-image: url(/assets/images/background.webp);
}

.sidebyside {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: calc($pad-amount * 2);
    align-items: flex-start;
}

.body {
    @extend .sidebyside;
    margin: 0 auto;
    margin-top: 2em;
    max-width: 980px;

    .main {
        width: 80%;
    }

    .leftbar {
        width: 20%;
    }
}

.box {
    border: 2px solid $primary;
    border-radius: 5px;
    padding: 0 $pad-amount;
    background-color: $text-background;
}

nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding-bottom: 2em;

    a {
        text-align: center;
    }
}

.logo {
    text-align: center;
}

a {
    background-color: $text-background;
    padding: 0.2em 0;
}

a.currentPage {
    font-weight: bold;
    background-color: #bdbdbd;
}

.dark-on-hover:hover {
    filter: brightness(0.9);
}

img {
    margin: 1em 0;
}
