---
title: "Episode Picker"
description: "Pick a random episode to watch from some of my favourite TV shows."
sections:
  - name: Star Trek
    link: star-trek
    source: "/assets/data/startrek.json"
    categories:
      - name: The Original Series
        key: "tos"
        checked: true
      - name: The Next Generation
        key: "tng"
        checked: true
      - name: Deep Space 9
        key: "ds9"
        checked: true
      - name: Voyager
        key: "voy"
        checked: true
      - name: Enterprise
        key: "ent"
        checked: false
  - name: The Simpsons
    link: simpsons
    source: "/assets/data/simpsons.json"
    categories:
      - name: Seasons 1-10
        key: "goldenage"
        checked: true
      - name: Seasons 10-20
        key: "remaining"
        checked: false
---

<script src="/assets/scripts/episodepicker.js"></script>

{% for section in page.sections %}

{% capture form_id %}form-{{ section.link }}{% endcapture %}
{% capture output_id %}output-{{ section.link }}{% endcapture %}

<h1 id="{{ section.link }}">{{ section.name }}</h1>

<form id="{{ form_id }}">
<fieldset>
    <legend>Select Categories:</legend>
    {% for cat in section.categories %}
    <div>
        <input type="checkbox" name="{{ cat.key }}"{% if cat.checked %} checked{% endif %} />
        <label for="{{ cat.key }}">{{ cat.name }}</label>
    </div>
    {% endfor %}
    <input type="button" value="Select Episode" onclick="showEpisode('{{ section.source }}', '{{ form_id }}', '{{ output_id }}')" />
</fieldset>
</form>

<div id="{{ output_id }}"></div>

<hr />
{% endfor %}
